---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Example: Set the global new code period to a number of days
{{ tffile "examples/resources/sonarqube_new_code_periods/global.tf" }}

### Example: create a project and set its new code period to a reference branch
{{ tffile "examples/resources/sonarqube_new_code_periods/project.tf" }}

{{ .SchemaMarkdown | trimspace }}
