---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage
### Example: create a project
{{ tffile "examples/resources/sonarqube_project/project.tf" }}

### Example: a project with associated settings
{{ tffile "examples/resources/sonarqube_project/project-settings.tf" }}

{{ .SchemaMarkdown | trimspace }}
