---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage
### Example: create a quality gate user association
{{ tffile "examples/resources/sonarqube_qualitygate_usergroup_association/user-association.tf" }}

### Example: create a quality gate group association
{{ tffile "examples/resources/sonarqube_qualitygate_usergroup_association/usergroup-association.tf" }}

{{ .SchemaMarkdown | trimspace }}
